<!DOCTYPE>
<html>

<head>
    <title>Create Event</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='schedule.css') }}">
</head>

<body>
    <ul>
        <li><a href="/">Schedule</a></li>
        <li><a href="/teams/">Teams</a></li>
        <li><a href="/teams/new/">Register Team</a></li>
        <li><a href="/teams/new/">Register Event</a></li>
    </ul>
<form action="/" method="post">
  Team 1 ID <input name="team1-id"/> <br />
  Team 2 ID <input name="team2-id"/><br />
  Date  Time <input name="datetime" type="datetime"/><br />
  Event Type<input name="type"/>
  <button type="submit">Create Event</button>
  </form>
</body>

</html>
